/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.air-header{
  width: 100%;
  height: 50px;
  background-color: antiquewhite;
}
nav {
 display: flex;
 gap: 10px;
 align-items: center;
 max-width: 960px;
 margin: 0 auto;
 border-bottom: 1px solid #e2e2e2;
 margin-bottom: 40px;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-image {
  max-width: 100%;
  max-height: 100%;
}

.centered-h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-menu ul {
 display: flex;
 gap: 10px;
}
.nav-menu ul li {
 list-style: none;
 float: left;
 display: block;
 padding:25px;
 background-color: cadetblue;
 border: 1px solid #e2e2e2;
 
 border-radius: 5px;
 text-align: center;
 transition: all 0.3s ease-in-out;
 margin-top:15px;
}
.nav-menu ul li:hover {
 background-color: burlywood;
 color: #000;
}
.nav-menu ul li a {
 text-decoration: none;
 color: #fff;
 font-size: 18px;
 font-weight: 600;
}
.nav-menu ul li a:hover {
 color: #e2e2e2;
}
.routeInfo{
  padding:15px;
}
